p{
    background-color: rgb(195, 227, 121);
}
a{
    background-color: rgb(92, 146, 197);
}
div{
    background-color: rgb(103, 77, 151);
}
span{
    background-color: rgb(120, 9, 85);
}
a{
    background-color: rgb(43, 226, 134);
}