div{
    height: 200px;
    width: 200px;
    background-color: rgb(51, 194, 194);
    position: absolute;
    top: 200px;
    left: 500px;
    border: 2px solid rgb(10, 11, 11);
    /* border-radius: 50%; */
    /* animation-name: colorAnimate;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite; */
    animation: colorAnimate 2s ease-in 1s infinite normal;
}
@keyframes colorAnimate{
    0%{ 
        left:0px;
        background-color:  rgb(215, 16, 29);
    }
    65%{
        background-color: yellowgreen;
    }
    100%{
         left: 200px;
        background-color: blue;
        color: aliceblue;
    }
        

}